@import url(./normalize.css);
/* -----------------------
  Colors
-------------------------*/
/* -----------------------
  Fonts
-------------------------*/
@import url("https://fonts.googleapis.com/css?family=Londrina+Solid:400,900|PT+Serif|Permanent+Marker|Rock+Salt");
body {
  font-family: "Courier", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

h1, h2, h3, h4 {
  font-family: "Londrina Solid", cursive;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 100%; }

html,
body {
  height: 100%; }

html {
  background: #fffffa; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

address {
  font-style: normal;
  text-transform: uppercase; }

.content {
  margin: 0 auto;
  max-width: 1024px; }

header {
  background: url("../images/rhumcornermasthead.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative; }
  header nav {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
    header nav ul {
      margin: 0 auto;
      max-width: 1024px;
      overflow: hidden; }
      header nav ul li {
        font-size: 11px;
        margin: 0 11px;
        display: inline-block; }
        header nav ul li a {
          color: #fff;
          display: inline-block;
          opacity: .5;
          padding: 10px 0;
          text-transform: uppercase;
          text-decoration: none; }
          header nav ul li a:hover {
            opacity: 1; }
  header h1 {
    background: url("../images/main_rhumcorner.png") 0 0 no-repeat;
    height: 262px;
    margin: 0 auto;
    text-indent: -999999px;
    width: 285px; }
  header .content {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
  header .arrow {
    background: url("../images/arrown_down_white.png") 0 0 no-repeat;
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 29px;
    height: 18px;
    margin-left: -9px; }

.hoof-info {
  background: url("../images/intro_rhumcorner.jpg") 0 0 repeat;
  color: #fff; }
  .hoof-info .content {
    display: flex;
    padding: 95px 0; }
  .hoof-info h1 {
    font-size: 35px; }
  .hoof-info .hoof-info-left,
  .hoof-info .hoof-info-right {
    padding: 0 20px; }
    .hoof-info .hoof-info-left p a,
    .hoof-info .hoof-info-right p a {
      color: #fff; }
  .hoof-info .hoof-info-left {
    width: 35%;
    padding-right: 50px; }
  .hoof-info .hoof-info-right {
    width: 65%; }
    .hoof-info .hoof-info-right .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .hoof-info .hoof-intro-copy {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 75px; }
  .hoof-info .hoof-info-hours {
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: "Rock Salt", cursive;
    border-bottom: 1px solid #fff;
    padding: 0 0 20px 0;
    margin-bottom: 75px; }
    .hoof-info .hoof-info-hours td:last-child {
      text-align: right; }
    .hoof-info .hoof-info-hours:after {
      position: absolute;
      content: "* we accept debit, VISA, Mastercard and American Express.";
      font-size: 12px;
      bottom: -25px;
      font-family: "Courier", Arial, sans-serif; }
  .hoof-info .btn {
    background: #40560f;
    color: #7ca41e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Permanent Marker", cursive;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px; }
    .hoof-info .btn:hover {
      color: #ffd998; }

.hoof-menu-drinks {
  background: url("../images/rhum_drinks.jpg") 0 0 repeat;
  background-size: cover; }
  .hoof-menu-drinks .content {
    padding: 65px 0; }
  .hoof-menu-drinks .cocktail-bar-menu__content {
    padding: 0 20px; }
  .hoof-menu-drinks .cocktail-bar-menu__intro {
    text-align: center;
    margin-bottom: 40px; }
    .hoof-menu-drinks .cocktail-bar-menu__intro h2 {
      font-size: 40px;
      font-family: "Londrina Solid", cursive;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 10px;
      margin-bottom: 0; }
  .hoof-menu-drinks h3 {
    padding: 0 0 15px 0;
    margin: 65px 0 30px 0;
    font-size: 30px;
    font-family: "Londrina Solid", cursive;
    font-weight: normal;
    border-bottom: 1px solid #000; }
  .hoof-menu-drinks .cocktail-bar-menu__list {
    display: flex;
    flex-wrap: wrap; }
  .hoof-menu-drinks .cocktail-bar-menu__list-item {
    padding: 0 5%;
    width: 40%;
    text-align: center;
    margin-bottom: 50px; }
  .hoof-menu-drinks .cocktail-bar-menu__list-item-name {
    display: block;
    padding: 0 0 15px 0;
    font-size: 24px;
    font-family: "Permanent Marker", cursive; }
    .hoof-menu-drinks .cocktail-bar-menu__list-item-name span {
      padding: 10px 0 0 0;
      display: block;
      font-size: 13px;
      line-height: 16px;
      font-family: "Courier", Arial, sans-serif; }
  .hoof-menu-drinks .cocktail-bar-menu__list-item-price {
    font-family: "Permanent Marker", cursive;
    font-size: 18px; }
    .hoof-menu-drinks .cocktail-bar-menu__list-item-price:before {
      content: "- "; }

.hoof-menu-snacks {
  background: url("../images/rhum_food.jpg") 0 0 repeat;
  background-size: cover;
  color: #fff1d9; }
  .hoof-menu-snacks h2 {
    font-family: "Permanent Marker", cursive;
    text-transform: uppercase;
    font-style: normal;
    font-size: 50px;
    margin-top: 0; }
  .hoof-menu-snacks .content {
    padding: 65px 0;
    text-align: center; }
  .hoof-menu-snacks .cocktail-bar-menu__content {
    padding: 0 20px;
    display: flex; }
    .hoof-menu-snacks .cocktail-bar-menu__content .cocktail-bar-menu__snacks,
    .hoof-menu-snacks .cocktail-bar-menu__content .cocktail-bar-menu__plates {
      padding: 0 20px;
      width: 50%; }
    .hoof-menu-snacks .cocktail-bar-menu__content ul {
      font-family: "Permanent Marker", cursive;
      font-size: 28px; }
      .hoof-menu-snacks .cocktail-bar-menu__content ul li {
        margin: 0 0 30px 0;
        line-height: 100%; }
    .hoof-menu-snacks .cocktail-bar-menu__content .cocktail-bar-menu__list-item-price:before {
      content: " _"; }

footer {
  background: url("../images/intro_blackhoof.jpg") 0 0 repeat;
  color: #fff; }
  footer .content {
    display: flex;
    padding: 80px 0; }
  footer .footer-left,
  footer .footer-right {
    padding: 0 20px; }
  footer .footer-left {
    width: 20%;
    padding-right: 50px; }
    footer .footer-left .btn {
      background: #fff;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      font-family: "PT Serif", serif;
      display: inline-block;
      padding: 10px 15px;
      margin-bottom: 10px; }
      footer .footer-left .btn:hover {
        background: #d80029;
        color: #fff; }
  footer .footer-right {
    background: url("../images/map.gif") right center no-repeat;
    width: 80%;
    height: 500px;
    position: relative; }
    footer .footer-right .cocktail {
      position: absolute;
      right: 0;
      top: 245px; }
    footer .footer-right .rhum {
      position: absolute;
      right: 50px;
      top: -20px; }

@media only screen and (max-width: 900px) {
  .hoof-info .content {
    flex-direction: column; }
  .hoof-info .hoof-info-left,
  .hoof-info .hoof-info-right {
    width: 90%;
    padding: 0 5%; }
  .hoof-info .hoof-info-left {
    margin-bottom: 50px; }
  .hoof-info .hoof-info-hours {
    font-size: 11px; }
  .hoof-menu-drinks .content {
    padding: 65px 0; }
  .hoof-menu-drinks .cocktail-bar-menu__content {
    padding: 0 20px; }
  .hoof-menu-drinks .cocktail-bar-menu__intro {
    background: none;
    padding: 20px 0; }
  .hoof-menu-drinks .cocktail-bar-menu__list {
    flex-direction: column; }
  .hoof-menu-drinks .cocktail-bar-menu__list-item {
    width: 90%;
    padding: 0 5%; }
  .hoof-menu-snacks .cocktail-bar-menu__content {
    flex-direction: column; }
    .hoof-menu-snacks .cocktail-bar-menu__content ul {
      margin: 0; }
      .hoof-menu-snacks .cocktail-bar-menu__content ul li {
        width: 100%; }
    .hoof-menu-snacks .cocktail-bar-menu__content .cocktail-bar-menu__snacks,
    .hoof-menu-snacks .cocktail-bar-menu__content .cocktail-bar-menu__plates {
      width: auto;
      margin-bottom: 50px; }
  footer .content {
    flex-direction: column; }
  footer .footer-left,
  footer .footer-right {
    padding: 0 20px; }
  footer .footer-left {
    width: 90%;
    padding: 0 5%;
    margin-bottom: 50px; }
  footer .footer-right {
    display: none; } }
